body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}
.title {
     font-size: 1.5rem;
     font-family: Arial;
    
}

.main{
    background-color: rgb(25, 25, 25);
}
button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}
.icon{
    height: 10rem;
}
.resetButton{
    border-radius: 0;
    background-color: white;
}
.iconMove {
    width: 3rem;
}